body {
    background-image: url('va11.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.caixa {
    text-align: center;
    background-color: azure;
    padding: 20px;
    width: 500px;
    margin: 20px auto 0;
}

.texto-superior h1 {
    font-size: 24px;
}

.texto-inferior p {
    font-size: 20px;
}

.coluna-esquerda {
    width: 400px;
    background-color: azure;
    padding: 20px;
    position: fixed;
    top: 20px;
    bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    max-width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.coluna-esquerda img {
    max-width: 100%;
}

.texto-superior-coluna h2, .texto-inferior-coluna h2 {
    font-size: 24px;
    text-align: center;
}

.texto-superior-coluna p, .texto-inferior-coluna p {
    font-size: 20px;
    text-align: center;
}

.lista-direita {
    background-color: transparent;
    padding: 20px;
    width: 200px;
    top: 350px;
    position: absolute;
    right: 20px;
    color: floralwhite;
}

.lista-direita ul {
    list-style-type: none;
    padding: 0;
}

.lista-direita li {
    margin-bottom: 15px;
}

.lista-direita li a {
    color: azure;
    text-decoration: none;
}

h2 {
    font-size: 25px;
}

.proj {
    font-size: 18px;
}

.contatos {
    text-align: center;
    margin-top: 350px;
    margin-left: 1000px; 
    color: #ffffff; 
}

.icones-contato {
    margin-top: 20px;
}

.icones-contato a {
    font-size: 24px;
    margin: 0 10px;
    color: #ffffff;
    text-decoration: none;
}


